<div class="screen">
  <div class="sign-in">
    <h2 class="sign-in__title">Вход</h2>
    <form
      class="sign-in__form"
      [formGroup]="authForm"
      *ngIf="authForm"
      [nbSpinner]="loading"
      nbSpinnerStatus="primary"
    >
      <div class="form-field">
        <div class="form-field__prefix">
          <span class="lnr lnr-envelope"></span>
        </div>
        <input
          nbInput
          fullWidth
          type="text"
          class="form-field__input"
          formControlName="email"
          placeholder="Email"
        />
      </div>
      <div class="form-field">
        <div class="form-field__prefix">
          <span class="lnr lnr-lock"></span>
        </div>
        <input
          nbInput
          fullWidth
          type="password"
          class="form-field__input"
          formControlName="password"
          placeholder="Пароль"
        />
      </div>
      <div class="form-actions">
        <button
          nbButton
          shape="round"
          outline
          class="form-actions__button form-actions__button_sign-up"
          routerLink="../sign-up"
        >
          Регистрация
        </button>
        <button
          nbButton
          hero
          status="primary"
          shape="round"
          class="form-actions__button form-actions__button_sign-in"
          [disabled]="authForm.invalid"
          (click)="signIn()"
        >
          Войти
        </button>
      </div>
    </form>
  </div>
  <div class="picture"></div>
</div>
