:root {
  --primary: rgb(78, 84, 200);
  --accent: rgb(143, 148, 251);
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}
